<%= render "admin/shared/header" %>

<div id="maincontent">
<%= link_to "+ New Post", new_admin_post_path, :class => 'button'%> 
<br />
<br />
<% if @posts.empty? %>
  <b>Oops! no posts by the author yet!</b>
<% else %>
  <% @posts.each do |post| %>
    <div class="post">
      <b><%= post.title %></b>
      <p><%= post.body %></p>
      <p><%= link_to 'View Post', blog_post_path(current_user.blog, post), :target => "_blank"%> | <%= link_to 'Edit', edit_admin_post_path(post) %> | <%= link_to 'Destroy', admin_post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %></p>
    </div>
  <% end %>
<% end %>

</div>

